*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 30px;
}
:root{
    --body-bg-color: #7e6ded10;
    --main-text-color: #333;
    --primary-color: #4CAF50;
    --font-size-lg: 18px;
    --font-size-md: 16px;
    --font-size-sm: 14px;
    --outline-0: ;
    --background-transparent:transparent ;
    --padding-x-1:1rem;
    --padding-x-2:2rem;
    --padding-y-1:1rem;
    --padding-y-2:2rem;
    --padding-global:1rem;
    --border-radius-sm: 4px;    
    --margin-auto:auto;
    --width-full:100%;
    --d-block:block;
    
}

body{    
    background-color: var(--body-bg-color);
}
.btn{
    background-color: var(--background-transparent);
    padding: var(--padding-global);
    font-size: 1rem;
    border-radius: var(--border-radius-sm);
    -webkit-border-radius: var(--border-radius-sm);
    -moz-border-radius: var(--border-radius-sm);
    -ms-border-radius: var(--border-radius-sm);
    -o-border-radius: var(--border-radius-sm);
    margin-left: var(--margin-auto);
    margin-right: var(--margin-auto);
    display: var(--d-block);
}
.w-100{
    width: var(--width-full);
}

